<h2 class="mx-auto text-center mb-8 bg-gradient-to-r from-purple-500 via-purple-700 to-purple-900 text-transparent bg-clip-text text-4xl border-b-2 border-purple-600 font-semibold w-fit">
    Projects
</h2>
<section class="projects grid grid-cols-3 gap-4 mx-4">
    <div class="card shadow-2xl rounded-lg p-4">
        <h3 class="text-center text-lg font-semibold">Mass Detection in Screening Mammograms with Machine Learning</h3>
        <p class="text-center text-gray-600">Big Data Big Impact @ Georgia Tech</p>
        <p class="mt-2">Leading a team in classifying soft tissue findings & microcalcifications with image pre-processing & a CNN (ResNet). Analyzing the racial and ethnic bias present in 364,000+ images from Professor Hari Trivedi’s Lab at Emory University.</p>
        <a href="https://www.linkedin.com/company/gtbigdatabigimpact/" class="text-blue-500 text-center hover:underline">Learn More</a>
    </div>

    <div class="card shadow-2xl rounded-lg p-4">
        <h3 class="text-center text-lg font-semibold">Data Analysis of Impact on Adversarial Attacks on Multimodal Classification Models</h3>
        <p class="text-center text-gray-600">CLAWS Lab @ Georgia Tech</p>
        <p class="mt-2">
            Developed and integrated a web application to a Multimodal ML Model trained on 85,000+ Tweets utilizing responsive UI through the Bootstrap framework to collect data. Released a small-scale experiment with 50+ users on Amazon Mechanical Turk to collect data utilizing the web application. Analyzed results by transforming raw information into tabular and processed data to develop conclusions and identified top 10 keyword flips.
        </p>
        <a href="https://github.com/claws-lab/course-correct" class="text-blue-500 text-center hover:underline">Learn More</a>
    </div>

    <div class="card shadow-2xl rounded-lg p-4">
        <h3 class="text-center text-lg font-semibold">BloodSight AI- Blood Test Predictive & Preventive Analytics</h3>
        <p class="text-center text-gray-600">Personal Project</p>
        <p class="mt-2">Developing web-app for lifestyle recommendations and predictive & preventive analytics from 5 types of blood reports. Training & testing 6 KNN and RF models with 5,000+ NHANES patient data for real-time personalized health insights.</p>
        <a href="#" class="text-blue-500 text-center hover:underline">Learn More</a>
    </div>
</section>