<h2 class="mx-auto text-center mb-8 bg-gradient-to-r from-purple-500 via-purple-700 to-purple-900 text-transparent bg-clip-text text-4xl border-b-2 border-purple-600 font-semibold w-fit">
    Skills
</h2>
<section class="skills">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6">
        <!-- Skill 1: Problem Solver -->
        <div class="p-4">
            <h3 class="text-center text-xl font-semibold">Problem Solver</h3>
        </div>

        <!-- Skill 2: Visionary -->
        <div class="p-4">
            <h3 class="text-center text-xl font-semibold">Visionary</h3>
        </div>

        <!-- Skill 3: Detail-Oriented -->
        <div class="p-4">
            <h3 class="text-center text-xl font-semibold">Detail-Oriented</h3>
        </div>

        <!-- Skill 4: Ambitious -->
        <div class="p-4">
            <h3 class="text-center text-xl font-semibold">Ambitious</h3>
        </div>

        <!-- Skill 5: Innovative -->
        <div class="p-4">
            <h3 class="text-center text-xl font-semibold">Innovative</h3>
        </div>

        <!-- Skill 6: Perseverant -->
        <div class="p-4">
            <h3 class="text-center text-xl font-semibold">Perseverant</h3>
        </div>
    </div>
</section>