<h2 class="mx-auto text-center mb-8 bg-gradient-to-r from-purple-500 via-purple-700 to-purple-900 text-transparent bg-clip-text text-4xl border-b-2 border-purple-600 font-semibold w-fit">
    Skills
</h2>
<section class="skills">
    <div class="px-6 pt-4 pb-2">
        <span class="inline-block bg-purple-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Python</span>
        <span class="inline-block bg-purple-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Java</span>
        <span class="inline-block bg-purple-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">C</span>
        <span class="inline-block bg-purple-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">C++</span>
        <span class="inline-block bg-purple-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Assembly</span>
        <span class="inline-block bg-purple-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">HTML/CSS (MTA certified) </span>
        <span class="inline-block bg-purple-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">JavaScript (MTA & CCA certified)</span>
        <span class="inline-block bg-purple-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Swift</span>
        <span class="inline-block bg-purple-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">SQL (MTA certified) </span>
        <span class="inline-block bg-purple-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">jQuery</span>
        <span class="inline-block bg-purple-200 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">JSON</span>
        
        <span class="inline-block bg-purple-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Pandas</span>
        <span class="inline-block bg-purple-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">PyTorch</span>
        <span class="inline-block bg-purple-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Jupyter</span>
        <span class="inline-block bg-purple-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">AWS</span>
        <span class="inline-block bg-purple-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Tableau</span>
        <span class="inline-block bg-purple-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">TensorFlow</span>
        <span class="inline-block bg-purple-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">React</span>
        <span class="inline-block bg-purple-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Node.js</span>
        <span class="inline-block bg-purple-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">D3.js</span>
        <span class="inline-block bg-purple-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Flask</span>
        <span class="inline-block bg-purple-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Git</span>
        <span class="inline-block bg-purple-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Atlassian</span>
        <span class="inline-block bg-purple-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Bootstrap</span>
        <span class="inline-block bg-purple-300 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">LaTeX</span>

        <span class="inline-block bg-purple-400 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Machine Learning</span>
        <span class="inline-block bg-purple-400 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Data Analytics & Visualization</span>
        <span class="inline-block bg-purple-400 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Product Management</span>
        <span class="inline-block bg-purple-400 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Problem Solving</span>
        <span class="inline-block bg-purple-400 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">User-Centered Design</span>
        <span class="inline-block bg-purple-400 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Strategic Planning</span>

        <span class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Investing</span>
        <span class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Visionary</span>
        <span class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Product Management</span>
        <span class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Ambitious</span>
        <span class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Innovative</span>
        <span class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Perseverant</span>
        <span class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Analytical</span>
        <span class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Entrepreneurial</span>
        <span class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Problem Solver</span>
        <span class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Collaborator</span>
        <span class="inline-block bg-purple-500 rounded-full px-3 py-1 text-sm font-semibold text-black mr-2 mb-2">Adaptable</span>
    </div>
</section>